{% extends 'layout/layout.html' %}
{% load static %}
{% load render_partial %}
{% block title %}

{% endblock %}
{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'shop_module/product_list/index.css' %}">
{% endblock %}
{% block content %}

    <section id="advertisement">
        <div class="container">
            <img src="images/shop/advertisement.jpg" alt=""/>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">محصولات عمده</h2>
                        {% for product in products %}
                            {% include 'shop_module/product_partial/product_partial.html' with product=product col_sm=4 %}
                        {% endfor %}
                        <ul class="pagination">
{#                            {% if is_paginated %}#}
                                {% if page_obj.has_previous %}
                            <li><a href="{% url 'product-list' %}?page={{ page_obj.previous_page_number }}">&raquo;</a></li>
                                {% endif %}
                                {% for number in paginator.page_range %}
                                <li class="{% if number == page_obj.number %}active{% endif %}"><a href="{% url 'product-list' %}?page={{ number }}">{{ number }}</a></li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                            <li><a href="{% url 'product-list' %}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% endif %}
{#                            {% endif %}#}
{#                            <li class="active"><a href="">1</a></li>#}
{#                            <li><a href="">2</a></li>#}
{#                            <li><a href="">3</a></li>#}
{#                            <li><a href="">&raquo;</a></li>#}
                        </ul>
                    </div><!--features_items-->
                </div>

                {% render_partial 'article_module.views.article_category_component_partial' %}
            </div>
        </div>
    </section>
{% endblock %}