{% extends 'layout/layout.html' %}
{% load for_loop %}
{% load thumbnail %}
{% load render_partial %}
{% block title %}
    مقاله {{ article.title }}
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">{{ article.title }}</h2>
                        <div class="single-blog-post">
                            <h3>{{ article.title }}</h3>
                            <div class="post-meta">
                                <ul>
                                    {% if article.author %}
                                        <li><i class="fa fa-user"></i>{{ article.author.first_name }}</li>
                                    {% endif %}
                                    <li><i class="fa fa-clock-o"></i>{{ article.date_joined }}</li>
                                    {#									<li><i class="fa fa-calendar"></i> 28 تیـر 1397</li>#}
                                </ul>
                                {% include 'article_module/includes/index.html' with article=article %}

                            </div>
                            <a href="">
                                {% if article.image %}
                                    {% thumbnail article.image "200x100" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="" width="im.width" height="im.height">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="/static/images/blog/blog-one.jpg" alt="">
                                {% endif %}
                            </a>
                            <p>{{ article.short_description }}</p>
                            <p>{{ article.description }}</p>
                            <div class="pager-area">
                                <ul class="pager pull-left">
                                    <li><a href="#">قبلی</a></li>
                                    <li><a href="#">بعـدی</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/blog-post-area-->

                    <div class="rating-area">
                        <ul class="ratings">
                            <li class="rate-this">به این مطلب امتیـاز دهیـد :</li>
                            <li>
                                {% include 'article_module/includes/index.html' with article=article color=color %}
                            </li>
                            <li class="color">( 6 نظـر )</li>
                        </ul>
                        <ul class="tag">
                            <li>برچسب :</li>
                            {% for category in article.selected_categories.all %}
                                <li><a class="color"
                                       href="{% url 'article-list-by-cat' category=category.url_title %}"> {{ category.title }}
                                    <span>/</span></a></li>
                            {% endfor %}

                        </ul>
                    </div><!--/rating-area-->

                    <div class="socials-share">
                        <a href=""><img src="/static/images/blog/socials.png" alt=""></a>
                    </div><!--/socials-share-->
                    {% if article.author %}
                        <div class="media commnets">
                            <a target="_blank" class="pull-right"
                               href="{% url 'profile-of-user' pk=article.author.id %}">
                                {% if article.author.avatar %}
                                    {% thumbnail article.author.avatar "126x86" quality=95 crop="center" as im %}
                                        <img class="media-object" src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                                {% endif %}

                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ article.author.get_full_name }}</h4>
                                <p>{{ article.author.about_user_text }}</p>
                                <div class="blog-socials">
                                    <ul>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <a target="_blank" class="btn btn-primary"
                                       href="{% url 'profile-of-user' pk=article.author.id %}">سایـر مطالب نویسنده</a>
                                </div>
                            </div>
                        </div><!--Comments-->
                    {% endif %}
                    {% include 'article_module/article_detail/comments_component/index.html' %}
                    <div class="replay-box">
                        <div class="row">
                            {% if request.user.is_authenticated %}
                                <form method="post" action="{% url 'add-article-comment' %}">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {{ field.errors }}
                                    {% endfor %}
                                    <input type="hidden" name="article_id" value="{{ article.id }}">
                                    <button class="btn btn-primary" type="submit">ارسال نظر</button>


                                    {#                            <div class="col-sm-8">#}
                                    {##}
                                    {#                                <div class="text-area">#}
                                    {##}
                                    {#                                    <div class="blank-arrow">#}
                                    {#                                        {{ form.text.label }}#}
                                    {#                                        <label>متن پیام</label>#}
                                    {#                                    </div>#}
                                    {#                                    <span>*</span>#}
                                    {#                                        {{ form.text }}#}
                                    {#                                    <textarea name="message" rows="11"></textarea>#}
                                    {#                                    <button class="btn btn-primary" type="submit">ارسال نظر</button>#}
                                    {#                                </div>#}
                                    {#                            </div>#}
                                    {#                            <div class="col-sm-4">#}
                                    {#                                <h2>نظـر خود را بنویسیـد</h2>#}
                                    {#                                    <div class="blank-arrow">#}
                                    {#                                        {{ form.text.label }}#}
                                    {##}
                                    {#                                        <label>نام</label>#}
                                    {#                                    </div>#}
                                    {#                                    <span>*</span>#}
                                    {#                                    <input type="text" placeholder="نام شما ...">#}
                                    {#                                    <div class="blank-arrow">#}
                                    {#                                        <input type="hidden" name="article_id" value="{{ article.id }}">#}
                                    {##}
                                    {#                                        <label>آدرس ایمیـل</label>#}
                                    {#                                    </div>#}
                                    {#                                    <input type="email" placeholder="ایمیـل شما ...">#}
                                    {#                                    <div class="blank-arrow">#}
                                    {#                                        <label>وبسایت</label>#}
                                    {#                                    </div>#}
                                    {#                                    <input type="email" placeholder="آدرس وبسایـت">#}
                                    {#                            </div>#}
                                </form>
                            {% else %}
                                <div class="blank-arrow">
                                    <label>برای ثبت نظر ابتدا <a href="{% url 'login-page' %}"> وارد </a>شوید</label>
                                </div>
                            {% endif %}
                        </div>
                    </div><!--/Repaly Box-->
                </div>

                {% render_partial 'article_module.views.article_category_component_partial' %}

            </div>
        </div>
    </section>
{% endblock %}