{% extends 'layout/layout.html' %}
{% load for_loop %}
{% load thumbnail %}
{% load render_partial %}
{% block title %}
    صفحه وبلاگ و اخبار
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">آخریـن اخبـار</h2>
                        {% for article in articles %}
                            {% include 'article_module/article_component/index.html' %}
                        {% endfor %}
                        {% if is_paginated %}
                        <div class="pagination-area">
                            <ul class="pagination">

                                {% if page_obj.has_previous %}
                                    <li><a href="{% url 'article-list' %}?page={{ page_obj.previous_page_number }}">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a></li>
                                {% endif %}
                                {% for page_num in paginator.page_range %}
                                <li><a class="{% if page_num == page_obj.number %}active{% endif %}" href="{% url 'article-list' %}?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="{% url 'article-list' %}?page={{ page_obj.next_page_number }}">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a></li>
                                {% endif %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {# import article categories component by render_partial #}
                {% render_partial 'article_module.views.article_category_component_partial' %}

            </div>
        </div>
    </section>

{% endblock %}